/* Your Website Styles */
body{
  background: url(../img/green_cup.png);
}

.jormungandr img{
  width: 125px;
  float :right;
}
/* Jormungandr twists and turns
 mighty in his wrath.  */

 .control-button img{
  height: 95px;
  max-height: 95px;
  width: 95px;
  max-width: 95px;
 }
/*  Style Tile Markup  */

.center{
  text-align: center;
}
h1{
  font-family: UnifrakturCook, Garamond, sans-serif;
  color: #222;
  font-size: 2em;
}
h2{
  font-family: "Droid Serif", "Baskerville Old Face", Times, serif;
  color: #077;
  font-size: 1.5em;
}
h3{
  font-family: Cuprum, Futura, sans-serif;
  color: darkgreen;
  font-size: 1.25em;
}
p, li{
  font-family: Lora, times, serif;
  color: #633;
  font-size: 1em;
  }
a:link, a:visited{
  text-decoration: none;
  color: #A00;
}
a:hover, a:focus{
  color: #00A;
}

/* Gallery Stying
Ben Schwarz*/
.gallery .control-button {
  color: #ccc;
  color: rgba(255, 255, 255, 0.4);
}

.gallery .control-button:hover {
  color: white;
  color: rgba(255, 255, 255, 0.8);
}
/*
	Theme controls how everything looks in Gallery CSS.
*/
.gallery {
  position: relative;
}
.gallery .item {
  max-height:500px;
  overflow: hidden;
  text-align: center;
  background: url("../img/crossword.png");
}
.gallery .controls {
  position: absolute;
  bottom: -120px;
  width: 100%;
  text-align: center;
}

.gallery .controls img {
  border: 5px solid #000;
}

.gallery .control-button {
  display: inline-block;
  margin: 0 .02em;
  font-size: 3em;
  text-align: center;
  text-decoration: none;
  -webkit-transition: color .1s;
  -moz-transition: color .1s;
  -ms-transition: color .1s;
  -o-transition: color .1s;
  transition: color .1s;
}
.height{
  height: 90px;
}
nav{
    background: #333;
    position: fixed;
    padding: 10px 0px 10px 0px;
    width: 100%;
    max-width: 1000px;
}
nav li {
  display: inline;
  margin: 0 20px;
}
nav a:link, 
nav a:visited {
  text-decoration: none;
  text-transform: uppercase;
}

/* Show Grid */


/* Transition markup */
figure {
  background: teal;
  overflow: hidden;
  position: relative;
}
figure h3, figure p{
  position: absolute;
  margin: 0;
  transition: top .4s, bottom .5s .5s, opacity .5s;
  -moz-transition: top .4s, bottom .5s .5s, opacity .5s;
  -webkit-transition: top .4s, bottom .5s .5s, opacity .5s;
  -ms-transition: top .4s, bottom .5s .5s, opacity .5s;
  -o-transition: top .4s, bottom .5s .5s, opacity .5s;
  transition: top .4s, bottom .5s .5s, opacity .5s;
}
figure h3{
  top: -50px;
  text-align: center;
   display: inline-block;
  background: url(../img/paper_1.png);
  opacity: 0;
}
figure p{
  background: url(../img/paper_1.png);
  bottom:-65px;
  text-align: left;
  display: inline-block;
  opacity: 0;
}
figure:hover p{
  bottom: 0px;
  opacity: 100;
}
figure:hover h3{
  top: 0px;
  opacity: 100;
}
.end p,.end h3, .end img{
    width: 100%;
    max-width: 375px;
}
.mag p,.mag h3, .mag img{
    width: 100%;
    max-width: 364px;
    margin:auto;
}
.rand p,.rand h3, .rand img{
  width: 100%;
  max-width: 700px;
}
.intr p,.intr h3, .intr img{
  width: 100%;
  max-width: 386px;
}
