/* Your Website Styles */
body{
  background: url(../img/concrete.png);
}

.jormungandr img{
  width: 125px;
  float :right;
}
/* Jormungandr twists and turns
 mighty in his wrath.  */

/*  Style Tile Markup  */

.center{
  text-align: center;
}
h1{
  font-family: Cuprum, Futura, sans-serif;
  color: #222;
  font-size: 2em;
}
h2{
  font-family: Lora, times, serif;
  color: #111;
  font-size: 1.5em;
}
h3{
  font-family: Cuprum, Futura, sans-serif;
  color: 111;
  font-size: 1.25em;
}
p, li{
  font-family: Lora, times, serif;
  color: #111;
  font-size: 1em/1.5em;
  }
a:link, a:visited{
  text-decoration: none;
  color: #111;
}
a:hover, a:focus{
  color: #444;
}

nav{
    padding: 10px 0px 10px 0px;
    width: 100%;
    max-width: 1000px;
}
nav li {
  display: inline;
  margin: 0 2%;
   background: #ccc;
  color: #111;
  border-radius: .25em;
  padding: 5px;
}
nav a:link, 
nav a:visited {
  text-decoration: none;
  text-transform: uppercase;
  color: #555;
}

/* Show Grid */

button{
  border-radius: .25em;
  border: 0px;
  background: #ccc;
  color: #111;
  font-size: 1em/1.5em;
   text-transform: uppercase;
   text-decoration: none;
     font-family: Lora, times, serif;
}

.portfolio .grid-6 p,.portfolio .grid-6 button {
display: none;
}
.portfolio .grid-6 h3{

}

.portfolio .grid-6 img {
  width: 400px;
  float: left;
  margin: 0 2em 0 0;
}
.portfolio .grid-12 h3 {
  text-align: center;
}
.portfolio .grid-12 img{
  width: 300px;
}
.hide {
  display: none;
}
#content {
  display: none;
}